/* index.html 的样式 */


/* header 开始 */
#header .tri::after{
    content: '';
    border-width: 3px;
    border-style: solid;
    border-top-color:#FF0036 ;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 4px;


;

}
#header .tri:hover::after{
    /*-webkit-transform: rotate(180deg)*/
    /*-moz-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*-o-transform: rotate(180deg);*/
    transform: rotate(180deg);

    /*-webkit-transition: transform .5s ease;*/
    /*-moz-transition: transform .5s ease;*/
    /*-ms-transition: transform .5s ease;*/
    /*-o-transition: transform .5s ease;*/
    transition: transform .5s ease;
}
#header .tri{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}

#header .tri:hover{
    background-color: #fff;
    border-color: #e5e5e5;
    cursor: pointer;}

#header .tri:hover > a{
    text-decoration: underline;
    color: #FF0036;
}

#header .tri:hover .submenu{
    display: block;
}

#quick-menu .submenu a:hover{
    text-decoration: underline;
}
#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    width: 109px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    background: #ffffff;
    display: none;
}

#header{
    height: 32px;
    background: #f2f2f2;
    /*background: #cccccc;*/
    font-size: 12px;
    line-height: 32px; /* 单行文字垂直居中：行高=高度 */
}
.submenu li{
    padding: 0px;
}
#login-info{
    float: left;
}

#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    position: relative;
}

#header a, #login-info span{
    color: #999;
}

#header a{
    padding: 0 14px;
}

#header a:hover{
    color: #FF0036;
}
.cr-code{
    background:#fffdef;
    width: 175px;
    height: 227px;
    border: 1px solid #000000;
    position: absolute;
    top: 28px;
    left: -50px;
    display: none;
    box-shadow: 0 0 5px #aaa;
}
#phone:hover .cr-code{
    display: block;
}
.cr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color:transparent transparent #fff transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -10px;
    left: 85px;
}
#hot-search {
    height: 135;
}
#cat-search .wrapper{
    height: 135px;
}


/* header 结束 */
/*cat-serch开始*/
#innor{
    height: 130px;
}
#cat img{
    width: 240px;
    height: 130px;
}
#cat, #search{
    float: left;
}
#search-box
{
    border: 2px solid #FF0036;
    width: 625px;
    height: 36px;
}
#search .left
{
    width: 483px;
    height: 32px;
    border: none;
    outline: none;
    font-size: 14px;
    text-indent: 10px;
}
#search .right{
    width: 132px;
    height: 36px;
    float:right;
    background:#FF0036;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #ffffff;
    border: none;

}
#hot-search .hott
{
    float: left;

}
#hot-search .highlight
{
    color: #999;
}
#hot-search .a
{
    color: #FF0036;
}
#hot-search a{
    padding: 0px 15px 0px 10px;
    font-size: 12px;
    border-right: 1px solid #ccc
}
#search
{
    margin: 45px 0px 0px 45px;
}
#last a
{
    border-right: none;
}
#innor .city{
    width: 100px;
    height: 30px;

}
#innor .international{
    width: 100px;
    height: 30px;

}

#content .innor2{
    height: 36px;
    line-height: 36px;
}
.innor2 a{
    font-size: 16px;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: #cccccc;
}

.innor2 a img{
    vertical-align: top;
}