*{
    margin: 0;
    padding: 0;
}
#wrapper
{

    display: -webkit-box;




}
.bottle{

    height: 300px;

}
.div1{
    background: #a71d5d;
    -webkit-box-flex:1;

}
.div2{
    background: #494949;
    -webkit-box-flex:2;

}
.div3{
    background-color: #ffff00;
    -webkit-box-flex:1;
}